VITE_FACEBOOK_URL=https://www.facebook.com/KatedraTelesneVychovyASportuZcuVPlzni
VITE_INSTAGRAM_URL=https://www.instagram.com/kts.zcu/
VITE_API_BASE=https://vytrvalec-server.test/api

BODY_SIZE_LIMIT=10000000
