VITE_FACEBOOK_URL=https://www.facebook.com/KatedraTelesneVychovyASportuZcuVPlzni
VITE_INSTAGRAM_URL=https://www.instagram.com/uts.zcu/
VITE_WEB_URL=https://www.uts.zcu.cz/
VITE_ZCU_WEB_URL=https://www.zcu.cz/
VITE_DISCORD_URL=https://discord.gg/Mas2acGXM9
VITE_CONTACT_EMAIL=vytrvale@ntis.zcu.cz

VITE_WS_BASE=ws://vytrvalec-server.test/ws
VITE_API_BASE=https://vytrvalec-server.test/api

BODY_SIZE_LIMIT=10000000
