@use '@picocss/pico/scss/pico' with (
	$enable-semantic-container: true,
	$enable-responsive-spacings: false,
	$enable-classes: true,
	$semantic-root-element: "#root"
);

button[type=submit] {
	width: auto !important;
}

button {
	margin-bottom: 0 !important;
}
