@use '@picocss/pico/scss/pico' with (
	$enable-semantic-container: true,
	$enable-responsive-spacings: false,
	$enable-classes: true,
	$semantic-root-element: "#root"
);

html {
	// TODO(@bleksak,@akasp): domluvit se na nejakym cisle, tohle scaluje velikost celeho webu
	font-size: 1.1rem;
}

button[type=submit] {
	width: auto !important;
}

button {
	margin-bottom: 0 !important;
}
