.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.icon {
    max-width: 25px;
    width: 100%;
    aspect-ratio: 1/1;
}

body:has(dialog[open]) {
    overflow: hidden;
}